.wanderingCubesItem-WPXqao {display: none;}
.circular-2NaZOq {display: none;}
.spinningCircleInner-mbM5zM {transform: rotate(0deg);}

.inner-1gJC7_:not(.pulsingEllipsis-3YiXRF) {
    position: relative;
    width: 80px;
    height: 80px;
    background-size:cover;
    animation:none;
    z-index:1;
    background-image: var(--custom-loading-icon-gif-1) !important;
}

.inner-1gJC7_:not(.pulsingEllipsis-3YiXRF) {
    position: relative;
    width: 80px;
    height: 80px;
    animation:none;
    z-index:1;
    content: var(--custom-loading-icon-svg-1) !important;
}

.spinningCircleInner-mbM5zM.inner-1gJC7_ {  
    position: relative;
    width: 80px;
    height: 80px;
    animation:none;
    z-index:1;
    content: var(--custom-loading-icon-svg-2) !important;
}

.spinningCircleInner-mbM5zM.inner-1gJC7_ {
    position: relative;
    width: 80px;
    height: 80px;
    background-size:cover;
    animation:none;
    z-index:1;
    background-image: var(--custom-loading-icon-gif-2) !important;
}
