.container-YkUktl>.flex-2S1XBF :not(:last-child) {
    display:none;
}

.container-YkUktl>.flex-2S1XBF:hover :not(:last-child) {
    display: flex;
}

.container-YkUktl .flex-2S1XBF:hover {
    flex-direction: column;
    margin-bottom: 64px;
    z-index: 1;
    background: var(--background-floating);
    border-radius: 4px;
}
