span[class="inner-26JK4f"] {
    position: relative;
    width: 80px;
    height: 80px;
    background-size:cover;
    animation:none;
    z-index:1;
    background-image: url("http://i.imgur.com/p543mwo.gif");
}

span[class="inner-26JK4f"] > * {display: none}