.layer-3QrUeG[aria-label=USER_SETTINGS] .side-8zPYf6 .item-PXvHYJ:before, .layer-3QrUeG[aria-label=USER_SETTINGS] .side-8zPYf6 .ui-tab-bar-item:before {
    font-family: 'Segoe MDL2 Assets';
    margin-right: 8px;
    vertical-align: bottom;
    content: '\E713'
}
 
.layer-3QrUeG[aria-label=USER_SETTINGS] .standardSidebarView-3F1I7i .side-8zPYf6 .ui-tab-bar-item:nth-child(7):before {
    content: '\ECAA';
}
 
 
.layer-3QrUeG[aria-label="USER_SETTINGS"] .standardSidebarView-3F1I7i .side-8zPYf6 .ui-tab-bar-item:nth-child(6)::before {
    content: '\E70F';
}
 
.layer-3QrUeG[aria-label=USER_SETTINGS] .standardSidebarView-3F1I7i .side-8zPYf6 .ui-tab-bar-item:nth-child(5):before {
    content: '\EA86';
}
 
.layer-3QrUeG[aria-label=USER_SETTINGS] .standardSidebarView-3F1I7i .side-8zPYf6 .ui-tab-bar-item:nth-child(4):before {
    content: '\EB68';
}
 
 
.layer-3QrUeG[aria-label=USER_SETTINGS] .standardSidebarView-3F1I7i .side-8zPYf6 .item-PXvHYJ:nth-child(23):before {
    content: '\F2B7';
}
 
.layer-3QrUeG[aria-label=USER_SETTINGS] .standardSidebarView-3F1I7i .side-8zPYf6 .item-PXvHYJ:nth-child(22):before {
    content: '\E93E';
}
 
.layer-3QrUeG[aria-label=USER_SETTINGS] .standardSidebarView-3F1I7i .side-8zPYf6 .item-PXvHYJ:nth-child(21):before {
    content: '\EC4E';
}
 
.layer-3QrUeG[aria-label=USER_SETTINGS] .standardSidebarView-3F1I7i .side-8zPYf6 .item-PXvHYJ:nth-child(20):before {
    content: '\E8E9';
}
 
.layer-3QrUeG[aria-label=USER_SETTINGS] .standardSidebarView-3F1I7i .side-8zPYf6 .item-PXvHYJ:nth-child(24):before {
    content: '\F259'
}
 
.layer-3QrUeG[aria-label=USER_SETTINGS] .standardSidebarView-3F1I7i .side-8zPYf6 .item-PXvHYJ:nth-child(19):before {
    content: '\E8F1';
}
 
.layer-3QrUeG[aria-label=USER_SETTINGS] .standardSidebarView-3F1I7i .side-8zPYf6 .item-PXvHYJ:nth-child(18):before {
    content: '\F57E';
}
 
.layer-3QrUeG[aria-label=USER_SETTINGS] .standardSidebarView-3F1I7i .side-8zPYf6 .item-PXvHYJ:nth-child(17):before {
    content: '\E7FC';
}
 
.layer-3QrUeG[aria-label=USER_SETTINGS] .standardSidebarView-3F1I7i .side-8zPYf6 .item-PXvHYJ:nth-child(15):before {
    content: '\EA8F';
}
 
.layer-3QrUeG[aria-label=USER_SETTINGS] .standardSidebarView-3F1I7i .side-8zPYf6 .item-PXvHYJ:nth-child(16):before {
    content: '\EC31';
}
 
 
.layer-3QrUeG[aria-label=USER_SETTINGS] .standardSidebarView-3F1I7i .side-8zPYf6 .item-PXvHYJ:nth-child(13):before {
    content: '\EA0C';
}
 
.layer-3QrUeG[aria-label=USER_SETTINGS] .standardSidebarView-3F1I7i .side-8zPYf6 .item-PXvHYJ:nth-child(14):before {
    content: '\F5ED';
}
 
 
.layer-3QrUeG[aria-label=USER_SETTINGS] .standardSidebarView-3F1I7i .side-8zPYf6 .item-PXvHYJ:nth-child(26):before {
    content: '\F0E3';
}
 
.layer-3QrUeG[aria-label=USER_SETTINGS] .standardSidebarView-3F1I7i .side-8zPYf6 .item-PXvHYJ:nth-child(29):before {
    content: '\E72B';
}

.layer-3QrUeG[aria-label=USER_SETTINGS] .standardSidebarView-3F1I7i .side-8zPYf6 .item-PXvHYJ:nth-child(8):before {
    content: '\EB52';
}

.layer-3QrUeG[aria-label=USER_SETTINGS] .standardSidebarView-3F1I7i .side-8zPYf6 .item-PXvHYJ:nth-child(9):before {
    content: '\E74A';
}

.layer-3QrUeG[aria-label=USER_SETTINGS] .standardSidebarView-3F1I7i .side-8zPYf6 .item-PXvHYJ:nth-child(10):before {
    content: '\EC24'   
}

.layer-3QrUeG[aria-label=USER_SETTINGS] .standardSidebarView-3F1I7i .side-8zPYf6 .item-PXvHYJ:nth-child(6):before {
    content: '\E719';
}

.layer-3QrUeG[aria-label=USER_SETTINGS] .standardSidebarView-3F1I7i .side-8zPYf6 .item-PXvHYJ:nth-child(5):before {
    content: '\EC05';
}

.layer-3QrUeG[aria-label=USER_SETTINGS] .standardSidebarView-3F1I7i .side-8zPYf6 .item-PXvHYJ:nth-child(4):before {
    content: '\ED5C';
}

.layer-3QrUeG[aria-label=USER_SETTINGS] .standardSidebarView-3F1I7i .side-8zPYf6 .item-PXvHYJ:nth-child(3):before {
    content: '\F552'
}

.layer-3QrUeG[aria-label=USER_SETTINGS] .standardSidebarView-3F1I7i .side-8zPYf6 .item-PXvHYJ:nth-child(2):before {
    content: '\E910'
}
