
/*support for disabling booster popups, stickers, and headers*/

 /* replace all displays with a variable at a later date */


.container-1ZA19X.stickerIconOffset-2zxofV {
     display: var(--disable-sticker-popup); /* --disable-sticker-popup */
 }
.button-f2h6uQ[aria-label*="Open GIF picker"], .button-f2h6uQ[aria-label*="Send a gift"] {
     display: var(--hide-extra-channel-textarea-buttons); /* --hide-extra-channel-textarea-buttons */
 }
.channelNotice-7cg_jN {
    display: var(--hide-channel-notices); /* --hide-channel-notices */
}
.spinnerContainer-3a92uf {
    display: var(--disalbe-added-devices); /* --hide-device-detected */
}
.notice-2HEN-u {
    display: var(--disable-notices); /* --hide-notices */
}